<p id="notice"><%= notice %></p>

<section class="container">



<h1 class="post-admin-header">All Posts</h1>

<div class="container-fluid">

  <% @post_admins.each do |post_admin| %>
    <div class="row post-row">
      <div class="col-lg-3">
        <img class="preview-image" src="<%= post_admin.image_url %>" alt="">
      </div>
      <div class="col-lg-9">
        <div class="post-preview">
          <p class="index-post-title"><%= link_to post_admin.title, post_admin %></p>
          <p class="index-post-date"><%= post_admin.updated_at %></p>
          <p><%= link_to 'Show', post_admin %> | <span><%= link_to 'Edit', edit_post_admin_path(post_admin) %></span>
          <% if can? :update, @post_admins %>
            <span>| <%= link_to 'Destroy', post_admin, method: :delete, data: { confirm: 'Are you sure?' } %></span>
          <% end %>
          </p>

        </div>
      </div>
    </div>
  <% end %>
</div>


<br>

<%= link_to 'New Post Admin', new_post_admin_path %>

</section>
