<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post_admin.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @post_admin.subtitle %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @post_admin.topic %>
</p>

<p>
  <strong>Content:</strong>
  <%= simple_format(@post_admin.content) %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @post_admin.image_url %>
</p>
